
 <h1>Ingresar Producto</h1>
  <form id="form-product">
    <input type="text" name="product-title" id="product-title" required placeholder="title"/>
    <input type="text" name="product-price" id="product-price" required placeholder="price"/>
    <input type="text" name="product-thumbnail" id="product-thumbnail" required placeholder="thumbnail"/>
    <button type="submit">Enviar</button>
  </form>

 
<table id="show-producto">
    
</table>

<h1>Centro de Mensajes</h1>

<input type="text" name="input-email" id="input-email" placeholder="Escribe e-mail">

<ul id="show-message"></ul>

<form id="form-message">
  <input type="text" name="input-message" id="input-message" placeholder="Escribe un mensaje">
  <button type="submit">Enviar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/script.js"></script>