extends layout
block content
    table(style='width:100%', border='1')
        tr
            th Nombre
            th Precio
            th Foto 
        if isEmpty
            tr 
               td No hay productos
            tr
        else 
            each prod in productos
                tr 
                    td= prod.title
                    td= prod.price
                    td
                        img(src=prod.thumbnail , alt=prod.title, width="50px")
    button(type="button", onclick="location.href='/static/index.html'") Agregar Producto