<h1 id="Product">Nuevo producto</h1>


<form id="form-product" action="/api/productos" method="post">
    <input type="text" name="nombre" id="product-nombre" required placeholder="Nombre" />
    <input type="text" name="descripcion" id="product-description" required placeholder="Descripción"/>
    <input type="text" name="codigo" id="product-codigo" required placeholder="código"/>
    <input type="text" name="precio" id="product-price" required placeholder="precio"/>
    <input type="text" name="stock" id="product-stock" required placeholder="stock"/>
    <input type="text" name="foto" id="product-thumbnail" required placeholder="foto"/>
    <button type="submit">Enviar</button>
  </form>

<a href="/api">Volver</button>