<h1>Iniciar sesión</h1>
<form id="form-message" action="/api/login" method="post">
  <input type="text" name="username" id="username" placeholder="e-mail or nombre usuario">
  <input type="text" name="password" id="password" placeholder="contraseña">
  <button type="submit">Enviar</button>
</form>
<a href="/api/register">Registrarse</button>